<a href="https://colab.research.google.com/github/cwave-org/MUNG/blob/main/metadata%EA%B4%80%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

/content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

In [ ]:
import pandas as pd

In [ ]:
from glob import glob
for filename in glob('*.json'):
  print(filename)

B_10_CHI_SF_20221116_10_000929_13.json
B_10_CHI_SF_20221116_10_000929_08.json
B_10_CHI_SF_20221116_10_000929_05.json
B_10_CHI_SF_20221116_10_000929_07.json
B_10_CHI_SF_20221116_10_000929_16.json
B_10_CHI_SF_20221116_10_000929_04.json
B_10_CHI_SF_20221116_10_000929_02.json
B_10_CHI_SF_20221116_10_000929_10.json
B_10_CHI_SF_20221116_10_000929_11.json
B_10_CHI_SF_20221116_10_000929_09.json
B_10_CHI_SF_20221116_10_000929_06.json
B_10_CHI_SF_20221116_10_000929_12.json
B_10_CHI_SF_20221116_10_000929_03.json
B_10_CHI_SF_20221116_10_000929_14.json
B_10_CHI_SF_20221116_10_000929_17.json
B_10_CHI_SF_20221116_10_000929_01.json
B_10_CHI_SF_20221116_10_000929_15.json
B_10_CHI_SF_20221116_10_000929_19.json
B_10_CHI_SF_20221117_10_000957_09.json
B_10_CHI_SF_20221116_10_000929_20.json
B_10_CHI_SF_20221117_10_000957_13.json
B_10_CHI_SF_20221117_10_000957_03.json
B_10_CHI_SF_20221117_10_000957_06.json
B_10_CHI_SF_20221117_10_000957_11.json
B_10_CHI_SF_20221117_10_000957_10.json
B_10_CHI_SF_20221117_10_000957_04.json
B_10_CHI_SF_20221116_10_000929_18.json
B_10_CHI_SF_20221117_10_000957_07.json
B_10_CHI_SF_20221117_10_000957_08.json
B_10_CHI_SF_20221117_10_000957_02.json
B_10_CHI_SF_20221117_10_000957_01.json
B_10_CHI_SF_20221117_10_000957_15.json
B_10_CHI_SF_20221117_10_000957_20.json
B_10_DRI_CM_20221121_10_001074_13.json
B_10_CHI_SF_20221117_10_000957_19.json
B_10_DRI_CM_20221121_10_001074_15.json
B_10_DRI_CM_20221121_10_001074_06.json
B_10_DRI_CM_20221121_10_001074_01.json
B_10_CHI_SF_20221117_10_000957_16.json
B_10_DRI_CM_20221121_10_001074_12.json
B_10_DRI_CM_20221121_10_001074_05.json
B_10_DRI_CM_20221121_10_001074_10.json
B_10_CHI_SF_20221117_10_000957_14.json
B_10_DRI_CM_20221121_10_001074_04.json
B_10_DRI_CM_20221121_10_001074_03.json
B_10_DRI_CM_20221121_10_001074_09.json
B_10_DRI_CM_20221121_10_001074_11.json
B_10_DRI_CM_20221121_10_001074_08.json
B_10_DRI_CM_20221121_10_001074_07.json
B_10_DRI_CM_20221121_10_001074_14.json
B_10_CHI_SF_20221117_10_000957_18.json
B_10_DRI_CM_20221121_10_001074_18.json
B_10_ETC_CM_20221116_10_000928_06.json
B_10_POM_CM_20221116_10_000930_01.json
B_10_ETC_CM_20221116_10_000928_15.json
B_10_DRI_CM_20221121_10_001074_20.json
B_10_POM_CM_20221116_10_000930_05.json
B_10_ETC_CM_20221116_10_000928_02.json
B_10_ETC_CM_20221116_10_000928_10.json
B_10_POM_CM_20221116_10_000930_04.json
B_10_ETC_CM_20221116_10_000928_01.json
B_10_ETC_CM_20221116_10_000928_03.json
B_10_ETC_CM_20221116_10_000928_04.json
B_10_ETC_CM_20221116_10_000928_05.json
B_10_DRI_CM_20221121_10_001074_16.json
B_10_POM_CM_20221116_10_000930_02.json
B_10_ETC_CM_20221116_10_000928_16.json
B_10_ETC_CM_20221116_10_000928_17.json
B_10_DRI_CM_20221121_10_001074_19.json
B_10_ETC_CM_20221116_10_000928_20.json
B_10_DRI_CM_20221121_10_001074_17.json
B_10_ETC_CM_20221116_10_000928_13.json
B_10_ETC_CM_20221116_10_000928_19.json
B_10_ETC_CM_20221116_10_000928_09.json
B_10_ETC_CM_20221116_10_000928_08.json
B_10_POM_CM_20221116_10_000930_07.json
B_10_ETC_CM_20221116_10_000928_07.json
B_10_POM_CM_20221116_10_000930_03.json
B_10_ETC_CM_20221116_10_000928_18.json
B_10_POM_CM_20221116_10_000930_08.json
B_10_ETC_CM_20221116_10_000928_11.json
B_10_POO_CM_20221121_10_001073_11.json
B_10_POO_CM_20221121_10_001073_10.json
B_10_POO_CM_20221121_10_001073_05.json
B_10_POM_CM_20221116_10_000930_12.json
B_10_POO_CM_20221121_10_001073_04.json
B_10_POM_CM_20221116_10_000930_20.json
B_10_POO_CM_20221121_10_001073_06.json
B_10_POO_CM_20221121_10_001075_01.json
B_10_POO_CM_20221121_10_001073_16.json
B_10_POM_CM_20221116_10_000930_10.json
B_10_POO_CM_20221121_10_001073_13.json
B_10_POM_CM_20221116_10_000930_13.json
B_10_POM_CM_20221116_10_000930_19.json
B_10_POO_CM_20221121_10_001073_17.json
B_10_POO_CM_20221121_10_001073_02.json
B_10_POO_CM_20221121_10_001073_14.json
B_10_POO_CM_20221121_10_001073_18.json
B_10_POM_CM_20221116_10_000930_11.json
B_10_POO_CM_20221121_10_001073_03.json
B_10_POO_CM_20221121_10_001073_20.json
B_10_POO_CM_20221121_10_001073_19.json
B_10_POO_CM_20221121_10_001073_15.json
B_10_POM_CM_20221116_10_000930_18.json
B_10_POO_CM_20221121_10_001073_08.json
B_10_POO_CM_20221121_10_001073_09.json
B_10_POO_CM_20221121_10_001073_12.json
B_10_POM_CM_20221116_10_000930_16.json
B_10_POO_CM_20221121_10_001073_07.json
B_10_POO_CM_20221121_10_001073_01.json
B_10_POO_CM_20221121_10_001075_13.json
B_10_POO_CM_20221121_10_001088_02.json
B_10_POO_CM_20221121_10_001075_02.json
B_10_POO_CM_20221121_10_001088_01.json
B_10_POO_CM_20221121_10_001075_19.json
B_10_POO_CM_20221121_10_001088_12.json
B_10_POO_CM_20221121_10_001075_14.json
B_10_POO_CM_20221121_10_001075_05.json
B_10_POO_CM_20221121_10_001088_03.json
B_10_POO_CM_20221121_10_001075_17.json
B_10_POO_CM_20221121_10_001075_08.json
B_10_POO_CM_20221121_10_001075_20.json
B_10_POO_CM_20221121_10_001075_18.json
B_10_POO_CM_20221121_10_001075_10.json
B_10_POO_CM_20221121_10_001075_16.json
B_10_POO_CM_20221121_10_001088_08.json
B_10_POO_CM_20221121_10_001088_11.json
B_10_POO_CM_20221121_10_001088_06.json
B_10_POO_CM_20221121_10_001088_07.json
B_10_POO_CM_20221121_10_001088_09.json
B_10_POO_CM_20221121_10_001088_05.json
B_10_POO_CM_20221121_10_001088_10.json
B_10_POO_CM_20221121_10_001075_03.json
B_10_POO_CM_20221121_10_001075_12.json
B_10_POO_CM_20221121_10_001075_09.json
B_10_POO_CM_20221121_10_001075_07.json
B_10_POO_CM_20221121_10_001075_15.json
B_10_POO_CM_20221121_10_001088_04.json
B_10_POO_CM_20221121_10_001075_11.json
B_10_POO_CM_20221121_10_001075_06.json
B_10_POO_CM_20221121_10_001088_14.json
B_10_POO_CM_20221121_10_001088_20.json
B_10_POO_CM_20221121_10_001088_15.json
B_10_POO_CM_20221121_10_001088_17.json
B_10_POO_CM_20221121_10_001088_16.json
B_10_POO_CM_20221121_10_001088_13.json
B_10_POO_CM_20221121_10_001088_18.json
B_10_POO_CM_20221121_10_001088_19.json

In [ ]:
from IPython.display import display

df_metadata=pd.DataFrame()
df_annotations=pd.DataFrame(columns=['image-id', 'label'])

In [ ]:
#df_ulsan_namgu=pd.concat([df_ulsan_namgu, df])

for file in glob('*.json'):
  df = pd.read_json(file)
  df = df.transpose()
  print(df)
  df1=df['metadata']
  df2=df['annotations']
  #print(df2)
  #df_metadata=pd.concat([df_metadata, df1])
  #df_annotations=pd.merge(df_annotations,df2, on="label" how="inner")
  # print(df['metadata'])
  # display(df.head())
  print('\n')

            type                                                 id  \
metadata       B  {'species': '10', 'mission-id': '10_000929', '...
annotations  NaN                                                NaN

                                                      physical  \
metadata     {'weight': 2.5, 'shoulder-height': 19, 'neck-s...
annotations                                                NaN

                           image  \
metadata     {'body-part': '13'}
annotations                  NaN

                                                      breeding  \
metadata     {'exercise': 2, 'food-count': 4, 'environment'...
annotations                                                NaN

                                                       medical  \
metadata     {'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...
annotations                                                NaN

                                                         vital  \
metadata     {'heart-rate': 142, 'breating-rate': 33, 'body...
annotations                                                NaN

                                          image-id  \
metadata                                       NaN
annotations  B_10_CHI_SF_20221116_10_000929_13.jpg

                                                         label
metadata                                                   NaN
annotations  {'label': '전신', 'points': [[921, 268], [2183, ...

KeyError: ignored

In [ ]:
df_annotations

                                                          0
type                                                      B
id        {'species': '10', 'mission-id': '10_000929', '...
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...
image                                   {'body-part': '13'}
breeding  {'exercise': 2, 'food-count': 4, 'environment'...
...                                                     ...
breeding  {'exercise': 2, 'food-count': 4, 'environment'...
medical   {'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...
vital     {'heart-rate': 142, 'breating-rate': 33, 'body...
image-id                                                NaN
label                                                   NaN

[1341 rows x 1 columns]

In [ ]:


for filename in glob('*01.json'):
  df = pd.read_json(filename)
  print(filename, df.shape)
  print(df.head())
  print('\n')
  #pd.json_normalize(df['metadata'])

B_10_CHI_SF_20221116_10_000929_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN


B_10_CHI_SF_20221117_10_000957_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN


B_10_DRI_CM_20221121_10_001074_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN


B_10_POM_CM_20221116_10_000930_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN


B_10_ETC_CM_20221116_10_000928_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN


B_10_POO_CM_20221121_10_001075_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN


B_10_POO_CM_20221121_10_001073_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN


B_10_POO_CM_20221121_10_001088_01.json (9, 2)
                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

In [ ]:
df=pd.read_json("/content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터/B_10_CHI_SF_20221116_10_000929_01.json")
print(df.columns)

Index(['metadata', 'annotations'], dtype='object')

In [ ]:
print(df['metadata'])

type                                                        B
id          {'species': '10', 'mission-id': '10_000929', '...
physical    {'weight': 2.5, 'shoulder-height': 19, 'neck-s...
image                                     {'body-part': '01'}
breeding    {'exercise': 2, 'food-count': 4, 'environment'...
medical     {'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...
vital       {'heart-rate': 142, 'breating-rate': 33, 'body...
image-id                                                  NaN
label                                                     NaN
Name: metadata, dtype: object

In [ ]:
print(df['annotations'])

type                                                      NaN
id                                                        NaN
physical                                                  NaN
image                                                     NaN
breeding                                                  NaN
medical                                                   NaN
vital                                                     NaN
image-id                B_10_CHI_SF_20221116_10_000929_01.jpg
label       {'label': '전신', 'points': [[454, 484], [2151, ...
Name: annotations, dtype: object

In [ ]:
new_df=df.drop(['annotations'], axis=1)
new_df

                                                   metadata
type                                                      B
id        {'species': '10', 'mission-id': '10_000929', '...
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...
image                                   {'body-part': '01'}
breeding  {'exercise': 2, 'food-count': 4, 'environment'...
medical   {'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...
vital     {'heart-rate': 142, 'breating-rate': 33, 'body...
image-id                                                NaN
label                                                   NaN

In [ ]:
new_df.dropna(inplace=True)
new_df

                                                   metadata
type                                                      B
id        {'species': '10', 'mission-id': '10_000929', '...
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...
image                                   {'body-part': '01'}
breeding  {'exercise': 2, 'food-count': 4, 'environment'...
medical   {'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...
vital     {'heart-rate': 142, 'breating-rate': 33, 'body...

In [ ]:
import numpy as np

arr=np.array([])
arr=new_df.loc['id']
print(arr)

metadata    {'species': '10', 'mission-id': '10_000929', '...
Name: id, dtype: object

In [ ]:
newitem = arr[0]
print(newitem["species"])

10

In [ ]:
arr[0]

{'species': '10',
 'mission-id': '10_000929',
 'provider-code': '0016',
 'breed': 'CHI',
 'age': 11.1,
 'class': 'SS',
 'sex': 'SF'}

In [ ]:
arr[0]["species"]
arr[0]["mission-id"]
arr[0]["provider-code"]

'0016'

In [ ]:
print(df)

                                                   metadata  \
type                                                      B
id        {'species': '10', 'mission-id': '10_001088', '...
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...
image                                   {'body-part': '01'}
breeding  {'exercise': 2, 'food-count': 2, 'environment'...
medical   {'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...
vital     {'heart-rate': 84, 'breating-rate': 24, 'body-...
image-id                                                NaN
label                                                   NaN

                                                annotations
type                                                    NaN
id                                                      NaN
physical                                                NaN
image                                                   NaN
breeding                                                NaN
medical                                                 NaN
vital                                                   NaN
image-id              B_10_POO_CM_20221121_10_001088_01.jpg
label     {'label': '전신', 'points': [[98, 123], [1033, 1...