<a href="https://colab.research.google.com/github/cwave-org/MUNG/blob/main/MUNGDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

/content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

In [ ]:
import pandas as pd

In [ ]:
from glob import glob
for filename in glob('*.json'):
  print(filename)

B_10_CHI_SF_20221116_10_000929_13.json
B_10_CHI_SF_20221116_10_000929_08.json
B_10_CHI_SF_20221116_10_000929_05.json
B_10_CHI_SF_20221116_10_000929_07.json
B_10_CHI_SF_20221116_10_000929_16.json
B_10_CHI_SF_20221116_10_000929_04.json
B_10_CHI_SF_20221116_10_000929_02.json
B_10_CHI_SF_20221116_10_000929_10.json
B_10_CHI_SF_20221116_10_000929_11.json
B_10_CHI_SF_20221116_10_000929_09.json
B_10_CHI_SF_20221116_10_000929_06.json
B_10_CHI_SF_20221116_10_000929_12.json
B_10_CHI_SF_20221116_10_000929_03.json
B_10_CHI_SF_20221116_10_000929_14.json
B_10_CHI_SF_20221116_10_000929_17.json
B_10_CHI_SF_20221116_10_000929_01.json
B_10_CHI_SF_20221116_10_000929_15.json
B_10_CHI_SF_20221116_10_000929_19.json
B_10_CHI_SF_20221117_10_000957_09.json
B_10_CHI_SF_20221116_10_000929_20.json
B_10_CHI_SF_20221117_10_000957_13.json
B_10_CHI_SF_20221117_10_000957_03.json
B_10_CHI_SF_20221117_10_000957_06.json
B_10_CHI_SF_20221117_10_000957_11.json
B_10_CHI_SF_20221117_10_000957_10.json
B_10_CHI_SF_20221117_10_000957_04.json
B_10_CHI_SF_20221116_10_000929_18.json
B_10_CHI_SF_20221117_10_000957_07.json
B_10_CHI_SF_20221117_10_000957_08.json
B_10_CHI_SF_20221117_10_000957_02.json
B_10_CHI_SF_20221117_10_000957_01.json
B_10_CHI_SF_20221117_10_000957_15.json
B_10_CHI_SF_20221117_10_000957_20.json
B_10_DRI_CM_20221121_10_001074_13.json
B_10_CHI_SF_20221117_10_000957_19.json
B_10_DRI_CM_20221121_10_001074_15.json
B_10_DRI_CM_20221121_10_001074_06.json
B_10_DRI_CM_20221121_10_001074_01.json
B_10_CHI_SF_20221117_10_000957_16.json
B_10_DRI_CM_20221121_10_001074_12.json
B_10_DRI_CM_20221121_10_001074_05.json
B_10_DRI_CM_20221121_10_001074_10.json
B_10_CHI_SF_20221117_10_000957_14.json
B_10_DRI_CM_20221121_10_001074_04.json
B_10_DRI_CM_20221121_10_001074_03.json
B_10_DRI_CM_20221121_10_001074_09.json
B_10_DRI_CM_20221121_10_001074_11.json
B_10_DRI_CM_20221121_10_001074_08.json
B_10_DRI_CM_20221121_10_001074_07.json
B_10_DRI_CM_20221121_10_001074_14.json
B_10_CHI_SF_20221117_10_000957_18.json
B_10_DRI_CM_20221121_10_001074_18.json
B_10_ETC_CM_20221116_10_000928_06.json
B_10_POM_CM_20221116_10_000930_01.json
B_10_ETC_CM_20221116_10_000928_15.json
B_10_DRI_CM_20221121_10_001074_20.json
B_10_POM_CM_20221116_10_000930_05.json
B_10_ETC_CM_20221116_10_000928_02.json
B_10_ETC_CM_20221116_10_000928_10.json
B_10_POM_CM_20221116_10_000930_04.json
B_10_ETC_CM_20221116_10_000928_01.json
B_10_ETC_CM_20221116_10_000928_03.json
B_10_ETC_CM_20221116_10_000928_04.json
B_10_ETC_CM_20221116_10_000928_05.json
B_10_DRI_CM_20221121_10_001074_16.json
B_10_POM_CM_20221116_10_000930_02.json
B_10_ETC_CM_20221116_10_000928_16.json
B_10_ETC_CM_20221116_10_000928_17.json
B_10_DRI_CM_20221121_10_001074_19.json
B_10_ETC_CM_20221116_10_000928_20.json
B_10_DRI_CM_20221121_10_001074_17.json
B_10_ETC_CM_20221116_10_000928_13.json
B_10_ETC_CM_20221116_10_000928_19.json
B_10_ETC_CM_20221116_10_000928_09.json
B_10_ETC_CM_20221116_10_000928_08.json
B_10_POM_CM_20221116_10_000930_07.json
B_10_ETC_CM_20221116_10_000928_07.json
B_10_POM_CM_20221116_10_000930_03.json
B_10_ETC_CM_20221116_10_000928_18.json
B_10_POM_CM_20221116_10_000930_08.json
B_10_ETC_CM_20221116_10_000928_11.json
B_10_POO_CM_20221121_10_001073_11.json
B_10_POO_CM_20221121_10_001073_10.json
B_10_POO_CM_20221121_10_001073_05.json
B_10_POM_CM_20221116_10_000930_12.json
B_10_POO_CM_20221121_10_001073_04.json
B_10_POM_CM_20221116_10_000930_20.json
B_10_POO_CM_20221121_10_001073_06.json
B_10_POO_CM_20221121_10_001075_01.json
B_10_POO_CM_20221121_10_001073_16.json
B_10_POM_CM_20221116_10_000930_10.json
B_10_POO_CM_20221121_10_001073_13.json
B_10_POM_CM_20221116_10_000930_13.json
B_10_POM_CM_20221116_10_000930_19.json
B_10_POO_CM_20221121_10_001073_17.json
B_10_POO_CM_20221121_10_001073_02.json
B_10_POO_CM_20221121_10_001073_14.json
B_10_POO_CM_20221121_10_001073_18.json
B_10_POM_CM_20221116_10_000930_11.json
B_10_POO_CM_20221121_10_001073_03.json
B_10_POO_CM_20221121_10_001073_20.json
B_10_POO_CM_20221121_10_001073_19.json
B_10_POO_CM_20221121_10_001073_15.json
B_10_POM_CM_20221116_10_000930_18.json
B_10_POO_CM_20221121_10_001073_08.json
B_10_POO_CM_20221121_10_001073_09.json
B_10_POO_CM_20221121_10_001073_12.json
B_10_POM_CM_20221116_10_000930_16.json
B_10_POO_CM_20221121_10_001073_07.json
B_10_POO_CM_20221121_10_001073_01.json
B_10_POO_CM_20221121_10_001075_13.json
B_10_POO_CM_20221121_10_001088_02.json
B_10_POO_CM_20221121_10_001075_02.json
B_10_POO_CM_20221121_10_001088_01.json
B_10_POO_CM_20221121_10_001075_19.json
B_10_POO_CM_20221121_10_001088_12.json
B_10_POO_CM_20221121_10_001075_14.json
B_10_POO_CM_20221121_10_001075_05.json
B_10_POO_CM_20221121_10_001088_03.json
B_10_POO_CM_20221121_10_001075_17.json
B_10_POO_CM_20221121_10_001075_08.json
B_10_POO_CM_20221121_10_001075_20.json
B_10_POO_CM_20221121_10_001075_18.json
B_10_POO_CM_20221121_10_001075_10.json
B_10_POO_CM_20221121_10_001075_16.json
B_10_POO_CM_20221121_10_001088_08.json
B_10_POO_CM_20221121_10_001088_11.json
B_10_POO_CM_20221121_10_001088_06.json
B_10_POO_CM_20221121_10_001088_07.json
B_10_POO_CM_20221121_10_001088_09.json
B_10_POO_CM_20221121_10_001088_05.json
B_10_POO_CM_20221121_10_001088_10.json
B_10_POO_CM_20221121_10_001075_03.json
B_10_POO_CM_20221121_10_001075_12.json
B_10_POO_CM_20221121_10_001075_09.json
B_10_POO_CM_20221121_10_001075_07.json
B_10_POO_CM_20221121_10_001075_15.json
B_10_POO_CM_20221121_10_001088_04.json
B_10_POO_CM_20221121_10_001075_11.json
B_10_POO_CM_20221121_10_001075_06.json
B_10_POO_CM_20221121_10_001088_14.json
B_10_POO_CM_20221121_10_001088_20.json
B_10_POO_CM_20221121_10_001088_15.json
B_10_POO_CM_20221121_10_001088_17.json
B_10_POO_CM_20221121_10_001088_16.json
B_10_POO_CM_20221121_10_001088_13.json
B_10_POO_CM_20221121_10_001088_18.json
B_10_POO_CM_20221121_10_001088_19.json

In [27]:
from IPython.display import display

def preview():
  for filename in glob('*.json'):
    df = pd.read_json(filename)
    print(filename, df.shape)
    display(df.head(10))
    print('\n')
    
preview()

B_10_CHI_SF_20221116_10_000929_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_13.jpg
label,NaN,"{'label': '전신', 'points': [[921, 268], [2183, ..."

B_10_CHI_SF_20221116_10_000929_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_08.jpg
label,NaN,"{'label': '전신', 'points': [[423, 639], [3675, ..."

B_10_CHI_SF_20221116_10_000929_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_05.jpg
label,NaN,"{'label': '전신', 'points': [[630, 369], [3305, ..."

B_10_CHI_SF_20221116_10_000929_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_07.jpg
label,NaN,"{'label': '전신', 'points': [[479, 763], [3589, ..."

B_10_CHI_SF_20221116_10_000929_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_16.jpg
label,NaN,"{'label': '두상', 'points': [[282, 507], [2833, ..."

B_10_CHI_SF_20221116_10_000929_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_04.jpg
label,NaN,"{'label': '전신', 'points': [[746, 464], [3556, ..."

B_10_CHI_SF_20221116_10_000929_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_02.jpg
label,NaN,"{'label': '전신', 'points': [[497, 927], [2212, ..."

B_10_CHI_SF_20221116_10_000929_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_10.jpg
label,NaN,"{'label': '전신', 'points': [[485, 192], [3773, ..."

B_10_CHI_SF_20221116_10_000929_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_11.jpg
label,NaN,"{'label': '전신', 'points': [[193, 685], [3875, ..."

B_10_CHI_SF_20221116_10_000929_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_09.jpg
label,NaN,"{'label': '전신', 'points': [[376, 219], [3339, ..."

B_10_CHI_SF_20221116_10_000929_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_06.jpg
label,NaN,"{'label': '전신', 'points': [[495, 562], [3738, ..."

B_10_CHI_SF_20221116_10_000929_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_12.jpg
label,NaN,"{'label': '전신', 'points': [[376, 143], [3995, ..."

B_10_CHI_SF_20221116_10_000929_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_03.jpg
label,NaN,"{'label': '전신', 'points': [[632, 545], [3488, ..."

B_10_CHI_SF_20221116_10_000929_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 258], [2639, 30..."

B_10_CHI_SF_20221116_10_000929_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_17.jpg
label,NaN,"{'label': '두상', 'points': [[35, 623], [2550, 2..."

B_10_CHI_SF_20221116_10_000929_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_01.jpg
label,NaN,"{'label': '전신', 'points': [[454, 484], [2151, ..."

B_10_CHI_SF_20221116_10_000929_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_15.jpg
label,NaN,"{'label': '두상', 'points': [[352, 512], [2914, ..."

B_10_CHI_SF_20221116_10_000929_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_19.jpg
label,NaN,"{'label': '두상', 'points': [[429, 509], [2648, ..."

B_10_CHI_SF_20221117_10_000957_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_09.jpg
label,NaN,"{'label': '전신', 'points': [[530, 196], [3214, ..."

B_10_CHI_SF_20221116_10_000929_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_20.jpg
label,NaN,"{'label': '코', 'points': [[945, 1456], [2538, ..."

B_10_CHI_SF_20221117_10_000957_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_13.jpg
label,NaN,"{'label': '전신', 'points': [[201, 240], [1821, ..."

B_10_CHI_SF_20221117_10_000957_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_03.jpg
label,NaN,"{'label': '전신', 'points': [[441, 831], [3808, ..."

B_10_CHI_SF_20221117_10_000957_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_06.jpg
label,NaN,"{'label': '전신', 'points': [[573, 646], [3621, ..."

B_10_CHI_SF_20221117_10_000957_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_11.jpg
label,NaN,"{'label': '전신', 'points': [[319, 762], [3939, ..."

B_10_CHI_SF_20221117_10_000957_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_10.jpg
label,NaN,"{'label': '전신', 'points': [[917, 527], [3772, ..."

B_10_CHI_SF_20221117_10_000957_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_04.jpg
label,NaN,"{'label': '전신', 'points': [[612, 287], [3530, ..."

B_10_CHI_SF_20221116_10_000929_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_18.jpg
label,NaN,"{'label': '두상', 'points': [[171, 553], [2736, ..."

B_10_CHI_SF_20221117_10_000957_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_07.jpg
label,NaN,"{'label': '전신', 'points': [[570, 805], [3308, ..."

B_10_CHI_SF_20221117_10_000957_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_08.jpg
label,NaN,"{'label': '전신', 'points': [[539, 440], [3885, ..."

B_10_CHI_SF_20221117_10_000957_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_02.jpg
label,NaN,"{'label': '전신', 'points': [[479, 671], [2181, ..."

B_10_CHI_SF_20221117_10_000957_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_01.jpg
label,NaN,"{'label': '전신', 'points': [[130, 45], [2237, 3..."

B_10_CHI_SF_20221117_10_000957_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_15.jpg
label,NaN,"{'label': '두상', 'points': [[0, 494], [2808, 30..."

B_10_CHI_SF_20221117_10_000957_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_20.jpg
label,NaN,"{'label': '코', 'points': [[126, 48], [1007, 73..."

B_10_DRI_CM_20221121_10_001074_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_13.jpg
label,NaN,"{'label': '전신', 'points': [[905, 154], [2115, ..."

B_10_CHI_SF_20221117_10_000957_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_19.jpg
label,NaN,"{'label': '두상', 'points': [[0, 1196], [2923, 3..."

B_10_DRI_CM_20221121_10_001074_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_15.jpg
label,NaN,"{'label': '두상', 'points': [[683, 105], [3607, ..."

B_10_DRI_CM_20221121_10_001074_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_06.jpg
label,NaN,"{'label': '전신', 'points': [[537, 485], [3644, ..."

B_10_DRI_CM_20221121_10_001074_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_01.jpg
label,NaN,"{'label': '전신', 'points': [[209, 389], [2679, ..."

B_10_CHI_SF_20221117_10_000957_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_16.jpg
label,NaN,"{'label': '두상', 'points': [[474, 771], [2517, ..."

B_10_DRI_CM_20221121_10_001074_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_12.jpg
label,NaN,"{'label': '전신', 'points': [[692, 447], [4004, ..."

B_10_DRI_CM_20221121_10_001074_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_05.jpg
label,NaN,"{'label': '전신', 'points': [[1224, 56], [3393, ..."

B_10_DRI_CM_20221121_10_001074_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_10.jpg
label,NaN,"{'label': '전신', 'points': [[739, 112], [4031, ..."

B_10_CHI_SF_20221117_10_000957_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 687], [2946, 28..."

B_10_DRI_CM_20221121_10_001074_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_04.jpg
label,NaN,"{'label': '전신', 'points': [[268, 150], [3365, ..."

B_10_DRI_CM_20221121_10_001074_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_03.jpg
label,NaN,"{'label': '전신', 'points': [[265, 487], [3691, ..."

B_10_DRI_CM_20221121_10_001074_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_09.jpg
label,NaN,"{'label': '전신', 'points': [[508, 232], [3175, ..."

B_10_DRI_CM_20221121_10_001074_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_11.jpg
label,NaN,"{'label': '전신', 'points': [[0, 375], [3742, 23..."

B_10_DRI_CM_20221121_10_001074_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_08.jpg
label,NaN,"{'label': '전신', 'points': [[52, 692], [3405, 2..."

B_10_DRI_CM_20221121_10_001074_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_07.jpg
label,NaN,"{'label': '전신', 'points': [[282, 775], [4022, ..."

B_10_DRI_CM_20221121_10_001074_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_14.jpg
label,NaN,"{'label': '두상', 'points': [[66, 1073], [3014, ..."

B_10_CHI_SF_20221117_10_000957_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_18.jpg
label,NaN,"{'label': '두상', 'points': [[2, 894], [2734, 29..."

B_10_DRI_CM_20221121_10_001074_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_18.jpg
label,NaN,"{'label': '두상', 'points': [[0, 1089], [3023, 2..."

B_10_ETC_CM_20221116_10_000928_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_06.jpg
label,NaN,"{'label': '전신', 'points': [[106, 248], [3817, ..."

B_10_POM_CM_20221116_10_000930_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_01.jpg
label,NaN,"{'label': '전신', 'points': [[125, 79], [1718, 3..."

B_10_ETC_CM_20221116_10_000928_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_15.jpg
label,NaN,"{'label': '두상', 'points': [[115, 819], [3023, ..."

B_10_DRI_CM_20221121_10_001074_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_20.jpg
label,NaN,"{'label': '코', 'points': [[534, 1432], [2175, ..."

B_10_POM_CM_20221116_10_000930_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_05.jpg
label,NaN,"{'label': '전신', 'points': [[215, 77], [2974, 2..."

B_10_ETC_CM_20221116_10_000928_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_02.jpg
label,NaN,"{'label': '전신', 'points': [[532, 507], [2355, ..."

B_10_ETC_CM_20221116_10_000928_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_10.jpg
label,NaN,"{'label': '전신', 'points': [[728, 0], [3280, 27..."

B_10_POM_CM_20221116_10_000930_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_04.jpg
label,NaN,"{'label': '전신', 'points': [[91, 115], [2800, 2..."

B_10_ETC_CM_20221116_10_000928_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_01.jpg
label,NaN,"{'label': '전신', 'points': [[0, 53], [2712, 358..."

B_10_ETC_CM_20221116_10_000928_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_03.jpg
label,NaN,"{'label': '전신', 'points': [[139, 291], [3865, ..."

B_10_ETC_CM_20221116_10_000928_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_04.jpg
label,NaN,"{'label': '전신', 'points': [[939, 14], [3340, 2..."

B_10_ETC_CM_20221116_10_000928_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_05.jpg
label,NaN,"{'label': '전신', 'points': [[401, 150], [3691, ..."

B_10_DRI_CM_20221121_10_001074_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_16.jpg
label,NaN,"{'label': '두상', 'points': [[595, 97], [3228, 2..."

B_10_POM_CM_20221116_10_000930_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_02.jpg
label,NaN,"{'label': '전신', 'points': [[297, 283], [1935, ..."

B_10_ETC_CM_20221116_10_000928_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_16.jpg
label,NaN,"{'label': '두상', 'points': [[21, 819], [2505, 3..."

B_10_ETC_CM_20221116_10_000928_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_17.jpg
label,NaN,"{'label': '두상', 'points': [[474, 537], [2771, ..."

B_10_DRI_CM_20221121_10_001074_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_19.jpg
label,NaN,"{'label': '두상', 'points': [[405, 770], [3023, ..."

B_10_ETC_CM_20221116_10_000928_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_20.jpg
label,NaN,"{'label': '코', 'points': [[1204, 1569], [2603,..."

B_10_DRI_CM_20221121_10_001074_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_17.jpg
label,NaN,"{'label': '두상', 'points': [[58, 1057], [3018, ..."

B_10_ETC_CM_20221116_10_000928_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_13.jpg
label,NaN,"{'label': '전신', 'points': [[558, 43], [2240, 3..."

B_10_ETC_CM_20221116_10_000928_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_19.jpg
label,NaN,"{'label': '두상', 'points': [[212, 545], [2929, ..."

B_10_ETC_CM_20221116_10_000928_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_09.jpg
label,NaN,"{'label': '전신', 'points': [[624, 105], [3410, ..."

B_10_ETC_CM_20221116_10_000928_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_08.jpg
label,NaN,"{'label': '전신', 'points': [[30, 688], [3897, 2..."

B_10_POM_CM_20221116_10_000930_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_07.jpg
label,NaN,"{'label': '전신', 'points': [[334, 213], [3842, ..."

B_10_ETC_CM_20221116_10_000928_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_07.jpg
label,NaN,"{'label': '전신', 'points': [[102, 230], [3675, ..."

B_10_POM_CM_20221116_10_000930_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_03.jpg
label,NaN,"{'label': '전신', 'points': [[51, 101], [2902, 2..."

B_10_ETC_CM_20221116_10_000928_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_18.jpg
label,NaN,"{'label': '두상', 'points': [[95, 1163], [2691, ..."

B_10_POM_CM_20221116_10_000930_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_08.jpg
label,NaN,"{'label': '전신', 'points': [[203, 161], [3137, ..."

B_10_ETC_CM_20221116_10_000928_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_11.jpg
label,NaN,"{'label': '전신', 'points': [[122, 337], [3962, ..."

B_10_POO_CM_20221121_10_001073_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_11.jpg
label,NaN,"{'label': '전신', 'points': [[10, 598], [3968, 2..."

B_10_POO_CM_20221121_10_001073_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_10.jpg
label,NaN,"{'label': '전신', 'points': [[1023, 393], [3334,..."

B_10_POO_CM_20221121_10_001073_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_05.jpg
label,NaN,"{'label': '전신', 'points': [[639, 65], [3836, 2..."

B_10_POM_CM_20221116_10_000930_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_12.jpg
label,NaN,"{'label': '전신', 'points': [[116, 127], [3099, ..."

B_10_POO_CM_20221121_10_001073_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_04.jpg
label,NaN,"{'label': '전신', 'points': [[530, 136], [3595, ..."

B_10_POM_CM_20221116_10_000930_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_20.jpg
label,NaN,"{'label': '코', 'points': [[280, 232], [2141, 1..."

B_10_POO_CM_20221121_10_001073_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_06.jpg
label,NaN,"{'label': '전신', 'points': [[365, 306], [3680, ..."

B_10_POO_CM_20221121_10_001075_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_01.jpg
label,NaN,"{'label': '전신', 'points': [[610, 355], [2292, ..."

B_10_POO_CM_20221121_10_001073_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_16.jpg
label,NaN,"{'label': '두상', 'points': [[130, 246], [1168, ..."

B_10_POM_CM_20221116_10_000930_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_10.jpg
label,NaN,"{'label': '전신', 'points': [[210, 269], [2944, ..."

B_10_POO_CM_20221121_10_001073_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_13.jpg
label,NaN,"{'label': '전신', 'points': [[752, 182], [2135, ..."

B_10_POM_CM_20221116_10_000930_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_13.jpg
label,NaN,"{'label': '전신', 'points': [[94, 47], [1779, 37..."

B_10_POM_CM_20221116_10_000930_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_19.jpg
label,NaN,"{'label': '두상', 'points': [[23, 583], [1957, 2..."

B_10_POO_CM_20221121_10_001073_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_17.jpg
label,NaN,"{'label': '두상', 'points': [[159, 53], [2929, 3..."

B_10_POO_CM_20221121_10_001073_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_02.jpg
label,NaN,"{'label': '전신', 'points': [[494, 89], [2808, 3..."

B_10_POO_CM_20221121_10_001073_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_14.jpg
label,NaN,"{'label': '두상', 'points': [[83, 129], [3022, 3..."

B_10_POO_CM_20221121_10_001073_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_18.jpg
label,NaN,"{'label': '두상', 'points': [[204, 807], [2784, ..."

B_10_POM_CM_20221116_10_000930_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_11.jpg
label,NaN,"{'label': '전신', 'points': [[104, 110], [3300, ..."

B_10_POO_CM_20221121_10_001073_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_03.jpg
label,NaN,"{'label': '전신', 'points': [[377, 141], [3530, ..."

B_10_POO_CM_20221121_10_001073_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_20.jpg
label,NaN,"{'label': '코', 'points': [[252, 867], [2361, 2..."

B_10_POO_CM_20221121_10_001073_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_19.jpg
label,NaN,"{'label': '두상', 'points': [[220, 895], [2833, ..."

B_10_POO_CM_20221121_10_001073_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_15.jpg
label,NaN,"{'label': '두상', 'points': [[223, 159], [1279, ..."

B_10_POM_CM_20221116_10_000930_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_18.jpg
label,NaN,"{'label': '두상', 'points': [[54, 229], [2743, 2..."

B_10_POO_CM_20221121_10_001073_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_08.jpg
label,NaN,"{'label': '전신', 'points': [[586, 527], [3935, ..."

B_10_POO_CM_20221121_10_001073_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_09.jpg
label,NaN,"{'label': '전신', 'points': [[535, 317], [3550, ..."

B_10_POO_CM_20221121_10_001073_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_12.jpg
label,NaN,"{'label': '전신', 'points': [[280, 73], [4031, 2..."

B_10_POM_CM_20221116_10_000930_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_16.jpg
label,NaN,"{'label': '두상', 'points': [[110, 264], [2938, ..."

B_10_POO_CM_20221121_10_001073_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_07.jpg
label,NaN,"{'label': '전신', 'points': [[88, 440], [3922, 2..."

B_10_POO_CM_20221121_10_001073_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_01.jpg
label,NaN,"{'label': '전신', 'points': [[365, 393], [2353, ..."

B_10_POO_CM_20221121_10_001075_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_13.jpg
label,NaN,"{'label': '전신', 'points': [[788, 141], [2466, ..."

B_10_POO_CM_20221121_10_001088_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_02.jpg
label,NaN,"{'label': '전신', 'points': [[514, 545], [2470, ..."

B_10_POO_CM_20221121_10_001075_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_02.jpg
label,NaN,"{'label': '전신', 'points': [[849, 799], [2675, ..."

B_10_POO_CM_20221121_10_001088_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_01.jpg
label,NaN,"{'label': '전신', 'points': [[98, 123], [1033, 1..."

B_10_POO_CM_20221121_10_001075_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_19.jpg
label,NaN,"{'label': '두상', 'points': [[228, 601], [2949, ..."

B_10_POO_CM_20221121_10_001088_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_12.jpg
label,NaN,"{'label': '전신', 'points': [[189, 299], [3832, ..."

B_10_POO_CM_20221121_10_001075_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_14.jpg
label,NaN,"{'label': '두상', 'points': [[91, 952], [2913, 3..."

B_10_POO_CM_20221121_10_001075_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_05.jpg
label,NaN,"{'label': '전신', 'points': [[1289, 214], [3856,..."

B_10_POO_CM_20221121_10_001088_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_03.jpg
label,NaN,"{'label': '전신', 'points': [[285, 179], [3970, ..."

B_10_POO_CM_20221121_10_001075_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_17.jpg
label,NaN,"{'label': '두상', 'points': [[179, 625], [2941, ..."

B_10_POO_CM_20221121_10_001075_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_08.jpg
label,NaN,"{'label': '전신', 'points': [[768, 105], [3921, ..."

B_10_POO_CM_20221121_10_001075_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_20.jpg
label,NaN,"{'label': '코', 'points': [[510, 1718], [1962, ..."

B_10_POO_CM_20221121_10_001075_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_18.jpg
label,NaN,"{'label': '두상', 'points': [[175, 839], [2949, ..."

B_10_POO_CM_20221121_10_001075_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_10.jpg
label,NaN,"{'label': '전신', 'points': [[712, 101], [3748, ..."

B_10_POO_CM_20221121_10_001075_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_16.jpg
label,NaN,"{'label': '두상', 'points': [[26, 1141], [2808, ..."

B_10_POO_CM_20221121_10_001088_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_08.jpg
label,NaN,"{'label': '전신', 'points': [[304, 230], [3933, ..."

B_10_POO_CM_20221121_10_001088_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_11.jpg
label,NaN,"{'label': '전신', 'points': [[160, 255], [3933, ..."

B_10_POO_CM_20221121_10_001088_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_06.jpg
label,NaN,"{'label': '전신', 'points': [[73, 529], [3764, 2..."

B_10_POO_CM_20221121_10_001088_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_07.jpg
label,NaN,"{'label': '전신', 'points': [[0, 234], [3823, 26..."

B_10_POO_CM_20221121_10_001088_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_09.jpg
label,NaN,"{'label': '전신', 'points': [[224, 127], [3599, ..."

B_10_POO_CM_20221121_10_001088_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_05.jpg
label,NaN,"{'label': '전신', 'points': [[260, 107], [3941, ..."

B_10_POO_CM_20221121_10_001088_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_10.jpg
label,NaN,"{'label': '전신', 'points': [[485, 54], [3441, 2..."

B_10_POO_CM_20221121_10_001075_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_03.jpg
label,NaN,"{'label': '전신', 'points': [[548, 219], [3439, ..."

B_10_POO_CM_20221121_10_001075_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_12.jpg
label,NaN,"{'label': '전신', 'points': [[761, 201], [3770, ..."

B_10_POO_CM_20221121_10_001075_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_09.jpg
label,NaN,"{'label': '전신', 'points': [[1044, 152], [3415,..."

B_10_POO_CM_20221121_10_001075_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_07.jpg
label,NaN,"{'label': '전신', 'points': [[720, 110], [3618, ..."

B_10_POO_CM_20221121_10_001075_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_15.jpg
label,NaN,"{'label': '두상', 'points': [[143, 492], [2764, ..."

B_10_POO_CM_20221121_10_001088_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_04.jpg
label,NaN,"{'label': '전신', 'points': [[77, 248], [3486, 2..."

B_10_POO_CM_20221121_10_001075_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_11.jpg
label,NaN,"{'label': '전신', 'points': [[131, 412], [3885, ..."

B_10_POO_CM_20221121_10_001075_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_06.jpg
label,NaN,"{'label': '전신', 'points': [[211, 63], [3584, 2..."

B_10_POO_CM_20221121_10_001088_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 351], [2869, 26..."

B_10_POO_CM_20221121_10_001088_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_20.jpg
label,NaN,"{'label': '코', 'points': [[611, 609], [2316, 2..."

B_10_POO_CM_20221121_10_001088_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_15.jpg
label,NaN,"{'label': '두상', 'points': [[150, 474], [1211, ..."

B_10_POO_CM_20221121_10_001088_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_17.jpg
label,NaN,"{'label': '두상', 'points': [[18, 230], [2949, 3..."

B_10_POO_CM_20221121_10_001088_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_16.jpg
label,NaN,"{'label': '두상', 'points': [[0, 347], [1259, 13..."

B_10_POO_CM_20221121_10_001088_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_13.jpg
label,NaN,"{'label': '전신', 'points': [[764, 125], [2070, ..."

B_10_POO_CM_20221121_10_001088_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_18.jpg
label,NaN,"{'label': '두상', 'points': [[187, 343], [2833, ..."

B_10_POO_CM_20221121_10_001088_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_19.jpg
label,NaN,"{'label': '두상', 'points': [[117, 413], [3023, ..."

In [28]:
for filename in glob('*.json'):
  df = pd.read_json(filename)
  print(filename, df.shape)
  display(df.head(10))
  print('\n')

B_10_CHI_SF_20221116_10_000929_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_13.jpg
label,NaN,"{'label': '전신', 'points': [[921, 268], [2183, ..."

B_10_CHI_SF_20221116_10_000929_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_08.jpg
label,NaN,"{'label': '전신', 'points': [[423, 639], [3675, ..."

B_10_CHI_SF_20221116_10_000929_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_05.jpg
label,NaN,"{'label': '전신', 'points': [[630, 369], [3305, ..."

B_10_CHI_SF_20221116_10_000929_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_07.jpg
label,NaN,"{'label': '전신', 'points': [[479, 763], [3589, ..."

B_10_CHI_SF_20221116_10_000929_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_16.jpg
label,NaN,"{'label': '두상', 'points': [[282, 507], [2833, ..."

B_10_CHI_SF_20221116_10_000929_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_04.jpg
label,NaN,"{'label': '전신', 'points': [[746, 464], [3556, ..."

B_10_CHI_SF_20221116_10_000929_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_02.jpg
label,NaN,"{'label': '전신', 'points': [[497, 927], [2212, ..."

B_10_CHI_SF_20221116_10_000929_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_10.jpg
label,NaN,"{'label': '전신', 'points': [[485, 192], [3773, ..."

B_10_CHI_SF_20221116_10_000929_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_11.jpg
label,NaN,"{'label': '전신', 'points': [[193, 685], [3875, ..."

B_10_CHI_SF_20221116_10_000929_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_09.jpg
label,NaN,"{'label': '전신', 'points': [[376, 219], [3339, ..."

B_10_CHI_SF_20221116_10_000929_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_06.jpg
label,NaN,"{'label': '전신', 'points': [[495, 562], [3738, ..."

B_10_CHI_SF_20221116_10_000929_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_12.jpg
label,NaN,"{'label': '전신', 'points': [[376, 143], [3995, ..."

B_10_CHI_SF_20221116_10_000929_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_03.jpg
label,NaN,"{'label': '전신', 'points': [[632, 545], [3488, ..."

B_10_CHI_SF_20221116_10_000929_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 258], [2639, 30..."

B_10_CHI_SF_20221116_10_000929_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_17.jpg
label,NaN,"{'label': '두상', 'points': [[35, 623], [2550, 2..."

B_10_CHI_SF_20221116_10_000929_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_01.jpg
label,NaN,"{'label': '전신', 'points': [[454, 484], [2151, ..."

B_10_CHI_SF_20221116_10_000929_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_15.jpg
label,NaN,"{'label': '두상', 'points': [[352, 512], [2914, ..."

B_10_CHI_SF_20221116_10_000929_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_19.jpg
label,NaN,"{'label': '두상', 'points': [[429, 509], [2648, ..."

B_10_CHI_SF_20221117_10_000957_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_09.jpg
label,NaN,"{'label': '전신', 'points': [[530, 196], [3214, ..."

B_10_CHI_SF_20221116_10_000929_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_20.jpg
label,NaN,"{'label': '코', 'points': [[945, 1456], [2538, ..."

B_10_CHI_SF_20221117_10_000957_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_13.jpg
label,NaN,"{'label': '전신', 'points': [[201, 240], [1821, ..."

B_10_CHI_SF_20221117_10_000957_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_03.jpg
label,NaN,"{'label': '전신', 'points': [[441, 831], [3808, ..."

B_10_CHI_SF_20221117_10_000957_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_06.jpg
label,NaN,"{'label': '전신', 'points': [[573, 646], [3621, ..."

B_10_CHI_SF_20221117_10_000957_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_11.jpg
label,NaN,"{'label': '전신', 'points': [[319, 762], [3939, ..."

B_10_CHI_SF_20221117_10_000957_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_10.jpg
label,NaN,"{'label': '전신', 'points': [[917, 527], [3772, ..."

B_10_CHI_SF_20221117_10_000957_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_04.jpg
label,NaN,"{'label': '전신', 'points': [[612, 287], [3530, ..."

B_10_CHI_SF_20221116_10_000929_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000929', '...",NaN
physical,"{'weight': 2.5, 'shoulder-height': 19, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'ABN', 'diseaseName': 'CAR', 'CRP'...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221116_10_000929_18.jpg
label,NaN,"{'label': '두상', 'points': [[171, 553], [2736, ..."

B_10_CHI_SF_20221117_10_000957_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_07.jpg
label,NaN,"{'label': '전신', 'points': [[570, 805], [3308, ..."

B_10_CHI_SF_20221117_10_000957_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_08.jpg
label,NaN,"{'label': '전신', 'points': [[539, 440], [3885, ..."

B_10_CHI_SF_20221117_10_000957_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_02.jpg
label,NaN,"{'label': '전신', 'points': [[479, 671], [2181, ..."

B_10_CHI_SF_20221117_10_000957_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_01.jpg
label,NaN,"{'label': '전신', 'points': [[130, 45], [2237, 3..."

B_10_CHI_SF_20221117_10_000957_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_15.jpg
label,NaN,"{'label': '두상', 'points': [[0, 494], [2808, 30..."

B_10_CHI_SF_20221117_10_000957_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_20.jpg
label,NaN,"{'label': '코', 'points': [[126, 48], [1007, 73..."

B_10_DRI_CM_20221121_10_001074_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_13.jpg
label,NaN,"{'label': '전신', 'points': [[905, 154], [2115, ..."

B_10_CHI_SF_20221117_10_000957_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_19.jpg
label,NaN,"{'label': '두상', 'points': [[0, 1196], [2923, 3..."

B_10_DRI_CM_20221121_10_001074_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_15.jpg
label,NaN,"{'label': '두상', 'points': [[683, 105], [3607, ..."

B_10_DRI_CM_20221121_10_001074_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_06.jpg
label,NaN,"{'label': '전신', 'points': [[537, 485], [3644, ..."

B_10_DRI_CM_20221121_10_001074_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_01.jpg
label,NaN,"{'label': '전신', 'points': [[209, 389], [2679, ..."

B_10_CHI_SF_20221117_10_000957_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_16.jpg
label,NaN,"{'label': '두상', 'points': [[474, 771], [2517, ..."

B_10_DRI_CM_20221121_10_001074_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_12.jpg
label,NaN,"{'label': '전신', 'points': [[692, 447], [4004, ..."

B_10_DRI_CM_20221121_10_001074_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_05.jpg
label,NaN,"{'label': '전신', 'points': [[1224, 56], [3393, ..."

B_10_DRI_CM_20221121_10_001074_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_10.jpg
label,NaN,"{'label': '전신', 'points': [[739, 112], [4031, ..."

B_10_CHI_SF_20221117_10_000957_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 687], [2946, 28..."

B_10_DRI_CM_20221121_10_001074_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_04.jpg
label,NaN,"{'label': '전신', 'points': [[268, 150], [3365, ..."

B_10_DRI_CM_20221121_10_001074_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_03.jpg
label,NaN,"{'label': '전신', 'points': [[265, 487], [3691, ..."

B_10_DRI_CM_20221121_10_001074_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_09.jpg
label,NaN,"{'label': '전신', 'points': [[508, 232], [3175, ..."

B_10_DRI_CM_20221121_10_001074_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_11.jpg
label,NaN,"{'label': '전신', 'points': [[0, 375], [3742, 23..."

B_10_DRI_CM_20221121_10_001074_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_08.jpg
label,NaN,"{'label': '전신', 'points': [[52, 692], [3405, 2..."

B_10_DRI_CM_20221121_10_001074_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_07.jpg
label,NaN,"{'label': '전신', 'points': [[282, 775], [4022, ..."

B_10_DRI_CM_20221121_10_001074_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_14.jpg
label,NaN,"{'label': '두상', 'points': [[66, 1073], [3014, ..."

B_10_CHI_SF_20221117_10_000957_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000957', '...",NaN
physical,"{'weight': 1.8, 'shoulder-height': 17, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 3, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.29, 'lgG': 6.78, '...",NaN
vital,"{'heart-rate': 110, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_CHI_SF_20221117_10_000957_18.jpg
label,NaN,"{'label': '두상', 'points': [[2, 894], [2734, 29..."

B_10_DRI_CM_20221121_10_001074_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_18.jpg
label,NaN,"{'label': '두상', 'points': [[0, 1089], [3023, 2..."

B_10_ETC_CM_20221116_10_000928_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_06.jpg
label,NaN,"{'label': '전신', 'points': [[106, 248], [3817, ..."

B_10_POM_CM_20221116_10_000930_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_01.jpg
label,NaN,"{'label': '전신', 'points': [[125, 79], [1718, 3..."

B_10_ETC_CM_20221116_10_000928_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_15.jpg
label,NaN,"{'label': '두상', 'points': [[115, 819], [3023, ..."

B_10_DRI_CM_20221121_10_001074_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_20.jpg
label,NaN,"{'label': '코', 'points': [[534, 1432], [2175, ..."

B_10_POM_CM_20221116_10_000930_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_05.jpg
label,NaN,"{'label': '전신', 'points': [[215, 77], [2974, 2..."

B_10_ETC_CM_20221116_10_000928_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_02.jpg
label,NaN,"{'label': '전신', 'points': [[532, 507], [2355, ..."

B_10_ETC_CM_20221116_10_000928_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_10.jpg
label,NaN,"{'label': '전신', 'points': [[728, 0], [3280, 27..."

B_10_POM_CM_20221116_10_000930_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_04.jpg
label,NaN,"{'label': '전신', 'points': [[91, 115], [2800, 2..."

B_10_ETC_CM_20221116_10_000928_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_01.jpg
label,NaN,"{'label': '전신', 'points': [[0, 53], [2712, 358..."

B_10_ETC_CM_20221116_10_000928_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_03.jpg
label,NaN,"{'label': '전신', 'points': [[139, 291], [3865, ..."

B_10_ETC_CM_20221116_10_000928_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_04.jpg
label,NaN,"{'label': '전신', 'points': [[939, 14], [3340, 2..."

B_10_ETC_CM_20221116_10_000928_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_05.jpg
label,NaN,"{'label': '전신', 'points': [[401, 150], [3691, ..."

B_10_DRI_CM_20221121_10_001074_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_16.jpg
label,NaN,"{'label': '두상', 'points': [[595, 97], [3228, 2..."

B_10_POM_CM_20221116_10_000930_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_02.jpg
label,NaN,"{'label': '전신', 'points': [[297, 283], [1935, ..."

B_10_ETC_CM_20221116_10_000928_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_16.jpg
label,NaN,"{'label': '두상', 'points': [[21, 819], [2505, 3..."

B_10_ETC_CM_20221116_10_000928_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_17.jpg
label,NaN,"{'label': '두상', 'points': [[474, 537], [2771, ..."

B_10_DRI_CM_20221121_10_001074_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_19.jpg
label,NaN,"{'label': '두상', 'points': [[405, 770], [3023, ..."

B_10_ETC_CM_20221116_10_000928_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_20.jpg
label,NaN,"{'label': '코', 'points': [[1204, 1569], [2603,..."

B_10_DRI_CM_20221121_10_001074_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001074', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 24.5, 'neck...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 2.85, 'lgG': 4.96, '...",NaN
vital,"{'heart-rate': 108, 'breating-rate': 24, 'body...",NaN
image-id,NaN,B_10_DRI_CM_20221121_10_001074_17.jpg
label,NaN,"{'label': '두상', 'points': [[58, 1057], [3018, ..."

B_10_ETC_CM_20221116_10_000928_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_13.jpg
label,NaN,"{'label': '전신', 'points': [[558, 43], [2240, 3..."

B_10_ETC_CM_20221116_10_000928_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_19.jpg
label,NaN,"{'label': '두상', 'points': [[212, 545], [2929, ..."

B_10_ETC_CM_20221116_10_000928_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_09.jpg
label,NaN,"{'label': '전신', 'points': [[624, 105], [3410, ..."

B_10_ETC_CM_20221116_10_000928_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_08.jpg
label,NaN,"{'label': '전신', 'points': [[30, 688], [3897, 2..."

B_10_POM_CM_20221116_10_000930_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_07.jpg
label,NaN,"{'label': '전신', 'points': [[334, 213], [3842, ..."

B_10_ETC_CM_20221116_10_000928_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_07.jpg
label,NaN,"{'label': '전신', 'points': [[102, 230], [3675, ..."

B_10_POM_CM_20221116_10_000930_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_03.jpg
label,NaN,"{'label': '전신', 'points': [[51, 101], [2902, 2..."

B_10_ETC_CM_20221116_10_000928_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_18.jpg
label,NaN,"{'label': '두상', 'points': [[95, 1163], [2691, ..."

B_10_POM_CM_20221116_10_000930_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_08.jpg
label,NaN,"{'label': '전신', 'points': [[203, 161], [3137, ..."

B_10_ETC_CM_20221116_10_000928_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000928', '...",NaN
physical,"{'weight': 11, 'shoulder-height': 30, 'neck-si...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 1, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.33, 'lgG': 9.62, '...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 38, 'body...",NaN
image-id,NaN,B_10_ETC_CM_20221116_10_000928_11.jpg
label,NaN,"{'label': '전신', 'points': [[122, 337], [3962, ..."

B_10_POO_CM_20221121_10_001073_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_11.jpg
label,NaN,"{'label': '전신', 'points': [[10, 598], [3968, 2..."

B_10_POO_CM_20221121_10_001073_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_10.jpg
label,NaN,"{'label': '전신', 'points': [[1023, 393], [3334,..."

B_10_POO_CM_20221121_10_001073_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_05.jpg
label,NaN,"{'label': '전신', 'points': [[639, 65], [3836, 2..."

B_10_POM_CM_20221116_10_000930_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_12.jpg
label,NaN,"{'label': '전신', 'points': [[116, 127], [3099, ..."

B_10_POO_CM_20221121_10_001073_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_04.jpg
label,NaN,"{'label': '전신', 'points': [[530, 136], [3595, ..."

B_10_POM_CM_20221116_10_000930_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_20.jpg
label,NaN,"{'label': '코', 'points': [[280, 232], [2141, 1..."

B_10_POO_CM_20221121_10_001073_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_06.jpg
label,NaN,"{'label': '전신', 'points': [[365, 306], [3680, ..."

B_10_POO_CM_20221121_10_001075_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_01.jpg
label,NaN,"{'label': '전신', 'points': [[610, 355], [2292, ..."

B_10_POO_CM_20221121_10_001073_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_16.jpg
label,NaN,"{'label': '두상', 'points': [[130, 246], [1168, ..."

B_10_POM_CM_20221116_10_000930_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_10.jpg
label,NaN,"{'label': '전신', 'points': [[210, 269], [2944, ..."

B_10_POO_CM_20221121_10_001073_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_13.jpg
label,NaN,"{'label': '전신', 'points': [[752, 182], [2135, ..."

B_10_POM_CM_20221116_10_000930_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_13.jpg
label,NaN,"{'label': '전신', 'points': [[94, 47], [1779, 37..."

B_10_POM_CM_20221116_10_000930_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_19.jpg
label,NaN,"{'label': '두상', 'points': [[23, 583], [1957, 2..."

B_10_POO_CM_20221121_10_001073_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_17.jpg
label,NaN,"{'label': '두상', 'points': [[159, 53], [2929, 3..."

B_10_POO_CM_20221121_10_001073_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_02.jpg
label,NaN,"{'label': '전신', 'points': [[494, 89], [2808, 3..."

B_10_POO_CM_20221121_10_001073_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_14.jpg
label,NaN,"{'label': '두상', 'points': [[83, 129], [3022, 3..."

B_10_POO_CM_20221121_10_001073_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_18.jpg
label,NaN,"{'label': '두상', 'points': [[204, 807], [2784, ..."

B_10_POM_CM_20221116_10_000930_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_11.jpg
label,NaN,"{'label': '전신', 'points': [[104, 110], [3300, ..."

B_10_POO_CM_20221121_10_001073_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_03.jpg
label,NaN,"{'label': '전신', 'points': [[377, 141], [3530, ..."

B_10_POO_CM_20221121_10_001073_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_20.jpg
label,NaN,"{'label': '코', 'points': [[252, 867], [2361, 2..."

B_10_POO_CM_20221121_10_001073_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_19.jpg
label,NaN,"{'label': '두상', 'points': [[220, 895], [2833, ..."

B_10_POO_CM_20221121_10_001073_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_15.jpg
label,NaN,"{'label': '두상', 'points': [[223, 159], [1279, ..."

B_10_POM_CM_20221116_10_000930_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_18.jpg
label,NaN,"{'label': '두상', 'points': [[54, 229], [2743, 2..."

B_10_POO_CM_20221121_10_001073_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_08.jpg
label,NaN,"{'label': '전신', 'points': [[586, 527], [3935, ..."

B_10_POO_CM_20221121_10_001073_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_09.jpg
label,NaN,"{'label': '전신', 'points': [[535, 317], [3550, ..."

B_10_POO_CM_20221121_10_001073_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_12.jpg
label,NaN,"{'label': '전신', 'points': [[280, 73], [4031, 2..."

B_10_POM_CM_20221116_10_000930_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_000930', '...",NaN
physical,"{'weight': 6.86, 'shoulder-height': 31, 'neck-...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 3, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 6.55, 'lgG': 5.92, '...",NaN
vital,"{'heart-rate': 120, 'breating-rate': 21, 'body...",NaN
image-id,NaN,B_10_POM_CM_20221116_10_000930_16.jpg
label,NaN,"{'label': '두상', 'points': [[110, 264], [2938, ..."

B_10_POO_CM_20221121_10_001073_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_07.jpg
label,NaN,"{'label': '전신', 'points': [[88, 440], [3922, 2..."

B_10_POO_CM_20221121_10_001073_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001073', '...",NaN
physical,"{'weight': 3.86, 'shoulder-height': 22, 'neck-...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 1.15, 'lgG': 10.76, ...",NaN
vital,"{'heart-rate': 142, 'breating-rate': 33, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001073_01.jpg
label,NaN,"{'label': '전신', 'points': [[365, 393], [2353, ..."

B_10_POO_CM_20221121_10_001075_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_13.jpg
label,NaN,"{'label': '전신', 'points': [[788, 141], [2466, ..."

B_10_POO_CM_20221121_10_001088_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_02.jpg
label,NaN,"{'label': '전신', 'points': [[514, 545], [2470, ..."

B_10_POO_CM_20221121_10_001075_02.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '02'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_02.jpg
label,NaN,"{'label': '전신', 'points': [[849, 799], [2675, ..."

B_10_POO_CM_20221121_10_001088_01.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '01'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_01.jpg
label,NaN,"{'label': '전신', 'points': [[98, 123], [1033, 1..."

B_10_POO_CM_20221121_10_001075_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_19.jpg
label,NaN,"{'label': '두상', 'points': [[228, 601], [2949, ..."

B_10_POO_CM_20221121_10_001088_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_12.jpg
label,NaN,"{'label': '전신', 'points': [[189, 299], [3832, ..."

B_10_POO_CM_20221121_10_001075_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_14.jpg
label,NaN,"{'label': '두상', 'points': [[91, 952], [2913, 3..."

B_10_POO_CM_20221121_10_001075_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_05.jpg
label,NaN,"{'label': '전신', 'points': [[1289, 214], [3856,..."

B_10_POO_CM_20221121_10_001088_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_03.jpg
label,NaN,"{'label': '전신', 'points': [[285, 179], [3970, ..."

B_10_POO_CM_20221121_10_001075_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_17.jpg
label,NaN,"{'label': '두상', 'points': [[179, 625], [2941, ..."

B_10_POO_CM_20221121_10_001075_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_08.jpg
label,NaN,"{'label': '전신', 'points': [[768, 105], [3921, ..."

B_10_POO_CM_20221121_10_001075_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_20.jpg
label,NaN,"{'label': '코', 'points': [[510, 1718], [1962, ..."

B_10_POO_CM_20221121_10_001075_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_18.jpg
label,NaN,"{'label': '두상', 'points': [[175, 839], [2949, ..."

B_10_POO_CM_20221121_10_001075_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_10.jpg
label,NaN,"{'label': '전신', 'points': [[712, 101], [3748, ..."

B_10_POO_CM_20221121_10_001075_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_16.jpg
label,NaN,"{'label': '두상', 'points': [[26, 1141], [2808, ..."

B_10_POO_CM_20221121_10_001088_08.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '08'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_08.jpg
label,NaN,"{'label': '전신', 'points': [[304, 230], [3933, ..."

B_10_POO_CM_20221121_10_001088_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_11.jpg
label,NaN,"{'label': '전신', 'points': [[160, 255], [3933, ..."

B_10_POO_CM_20221121_10_001088_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_06.jpg
label,NaN,"{'label': '전신', 'points': [[73, 529], [3764, 2..."

B_10_POO_CM_20221121_10_001088_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_07.jpg
label,NaN,"{'label': '전신', 'points': [[0, 234], [3823, 26..."

B_10_POO_CM_20221121_10_001088_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_09.jpg
label,NaN,"{'label': '전신', 'points': [[224, 127], [3599, ..."

B_10_POO_CM_20221121_10_001088_05.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '05'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_05.jpg
label,NaN,"{'label': '전신', 'points': [[260, 107], [3941, ..."

B_10_POO_CM_20221121_10_001088_10.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '10'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_10.jpg
label,NaN,"{'label': '전신', 'points': [[485, 54], [3441, 2..."

B_10_POO_CM_20221121_10_001075_03.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '03'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_03.jpg
label,NaN,"{'label': '전신', 'points': [[548, 219], [3439, ..."

B_10_POO_CM_20221121_10_001075_12.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '12'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_12.jpg
label,NaN,"{'label': '전신', 'points': [[761, 201], [3770, ..."

B_10_POO_CM_20221121_10_001075_09.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '09'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_09.jpg
label,NaN,"{'label': '전신', 'points': [[1044, 152], [3415,..."

B_10_POO_CM_20221121_10_001075_07.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '07'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_07.jpg
label,NaN,"{'label': '전신', 'points': [[720, 110], [3618, ..."

B_10_POO_CM_20221121_10_001075_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_15.jpg
label,NaN,"{'label': '두상', 'points': [[143, 492], [2764, ..."

B_10_POO_CM_20221121_10_001088_04.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '04'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_04.jpg
label,NaN,"{'label': '전신', 'points': [[77, 248], [3486, 2..."

B_10_POO_CM_20221121_10_001075_11.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '11'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_11.jpg
label,NaN,"{'label': '전신', 'points': [[131, 412], [3885, ..."

B_10_POO_CM_20221121_10_001075_06.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001075', '...",NaN
physical,"{'weight': 8.3, 'shoulder-height': 30, 'neck-s...",NaN
image,{'body-part': '06'},NaN
breeding,"{'exercise': 2, 'food-count': 4, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.72, 'lgG': 4.09, '...",NaN
vital,"{'heart-rate': 124, 'breating-rate': 36, 'body...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001075_06.jpg
label,NaN,"{'label': '전신', 'points': [[211, 63], [3584, 2..."

B_10_POO_CM_20221121_10_001088_14.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '14'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_14.jpg
label,NaN,"{'label': '두상', 'points': [[0, 351], [2869, 26..."

B_10_POO_CM_20221121_10_001088_20.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '20'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_20.jpg
label,NaN,"{'label': '코', 'points': [[611, 609], [2316, 2..."

B_10_POO_CM_20221121_10_001088_15.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '15'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_15.jpg
label,NaN,"{'label': '두상', 'points': [[150, 474], [1211, ..."

B_10_POO_CM_20221121_10_001088_17.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '17'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_17.jpg
label,NaN,"{'label': '두상', 'points': [[18, 230], [2949, 3..."

B_10_POO_CM_20221121_10_001088_16.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '16'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_16.jpg
label,NaN,"{'label': '두상', 'points': [[0, 347], [1259, 13..."

B_10_POO_CM_20221121_10_001088_13.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '13'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_13.jpg
label,NaN,"{'label': '전신', 'points': [[764, 125], [2070, ..."

B_10_POO_CM_20221121_10_001088_18.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '18'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_18.jpg
label,NaN,"{'label': '두상', 'points': [[187, 343], [2833, ..."

B_10_POO_CM_20221121_10_001088_19.json (9, 2)

,metadata,annotations
type,B,NaN
id,"{'species': '10', 'mission-id': '10_001088', '...",NaN
physical,"{'weight': 8.8, 'shoulder-height': 34, 'neck-s...",NaN
image,{'body-part': '19'},NaN
breeding,"{'exercise': 2, 'food-count': 2, 'environment'...",NaN
medical,"{'disease': 'NOR', 'CRP': 0.24, 'lgG': 5.1, 'I...",NaN
vital,"{'heart-rate': 84, 'breating-rate': 24, 'body-...",NaN
image-id,NaN,B_10_POO_CM_20221121_10_001088_19.jpg
label,NaN,"{'label': '두상', 'points': [[117, 413], [3023, ..."

In [53]:
df['metadata']['vital']

{'heart-rate': 84, 'breating-rate': 24, 'body-heat': 39, 'stress': 1.3}

In [58]:
for filename in glob('*.json'):
  df3 = pd.read_json(filename)
  df4=pd.json_normalize(df3['metadata']['vital'])
  #display(df.head(10))
  print(df4)

   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3

In [66]:
for filename in glob('*01.json'):
  data3 = pd.read_json(filename)
  data4=pd.json_normalize(data3['metadata']['vital'])
  #display(df.head(10))
  print(data4)

   heart-rate  breating-rate  body-heat  stress
0         142             33       38.1     8.6
   heart-rate  breating-rate  body-heat  stress
0         110             36         40     3.6
   heart-rate  breating-rate  body-heat  stress
0         108             24       38.9     1.3
   heart-rate  breating-rate  body-heat  stress
0         120             21       38.7     1.8
   heart-rate  breating-rate  body-heat  stress
0         142             38       38.4     2.7
   heart-rate  breating-rate  body-heat  stress
0         124             36       38.4     3.2
   heart-rate  breating-rate  body-heat  stress
0         142             33         40     8.9
   heart-rate  breating-rate  body-heat  stress
0          84             24         39     1.3

In [61]:
real2=pd.json_normalize(real['metadata'])

In [62]:
real2

,species,mission-id,provider-code,breed,age,class,sex,weight,shoulder-height,neck-size,...,food-kind,disease,CRP,lgG,IL-6,AFP,heart-rate,breating-rate,body-heat,stress
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,10_001088,0010,POO,2.0,SS,CM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.8,34.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOR,0.24,5.1,2.11,0.55,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.0,24.0,39.0,1.3
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
real2['heart-rate']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6    84.0
7     NaN
8     NaN
Name: heart-rate, dtype: float64