<a href="https://colab.research.google.com/github/cwave-org/MUNG/blob/main/MUNGDATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

/content/drive/Shareddrives/한남동클라쓰/MUNG/라벨링 데이터

In [ ]:
import pandas as pd

In [ ]:
from glob import glob
for filename in glob('*.json'):
  print(filename)

B_10_CHI_SF_20221116_10_000929_13.json
B_10_CHI_SF_20221116_10_000929_08.json
B_10_CHI_SF_20221116_10_000929_05.json
B_10_CHI_SF_20221116_10_000929_07.json
B_10_CHI_SF_20221116_10_000929_16.json
B_10_CHI_SF_20221116_10_000929_04.json
B_10_CHI_SF_20221116_10_000929_02.json
B_10_CHI_SF_20221116_10_000929_10.json
B_10_CHI_SF_20221116_10_000929_11.json
B_10_CHI_SF_20221116_10_000929_09.json
B_10_CHI_SF_20221116_10_000929_06.json
B_10_CHI_SF_20221116_10_000929_12.json
B_10_CHI_SF_20221116_10_000929_03.json
B_10_CHI_SF_20221116_10_000929_14.json
B_10_CHI_SF_20221116_10_000929_17.json
B_10_CHI_SF_20221116_10_000929_01.json
B_10_CHI_SF_20221116_10_000929_15.json
B_10_CHI_SF_20221116_10_000929_19.json
B_10_CHI_SF_20221117_10_000957_09.json
B_10_CHI_SF_20221116_10_000929_20.json
B_10_CHI_SF_20221117_10_000957_13.json
B_10_CHI_SF_20221117_10_000957_03.json
B_10_CHI_SF_20221117_10_000957_06.json
B_10_CHI_SF_20221117_10_000957_11.json
B_10_CHI_SF_20221117_10_000957_10.json
B_10_CHI_SF_20221117_10_000957_04.json
B_10_CHI_SF_20221116_10_000929_18.json
B_10_CHI_SF_20221117_10_000957_07.json
B_10_CHI_SF_20221117_10_000957_08.json
B_10_CHI_SF_20221117_10_000957_02.json
B_10_CHI_SF_20221117_10_000957_01.json
B_10_CHI_SF_20221117_10_000957_15.json
B_10_CHI_SF_20221117_10_000957_20.json
B_10_DRI_CM_20221121_10_001074_13.json
B_10_CHI_SF_20221117_10_000957_19.json
B_10_DRI_CM_20221121_10_001074_15.json
B_10_DRI_CM_20221121_10_001074_06.json
B_10_DRI_CM_20221121_10_001074_01.json
B_10_CHI_SF_20221117_10_000957_16.json
B_10_DRI_CM_20221121_10_001074_12.json
B_10_DRI_CM_20221121_10_001074_05.json
B_10_DRI_CM_20221121_10_001074_10.json
B_10_CHI_SF_20221117_10_000957_14.json
B_10_DRI_CM_20221121_10_001074_04.json
B_10_DRI_CM_20221121_10_001074_03.json
B_10_DRI_CM_20221121_10_001074_09.json
B_10_DRI_CM_20221121_10_001074_11.json
B_10_DRI_CM_20221121_10_001074_08.json
B_10_DRI_CM_20221121_10_001074_07.json
B_10_DRI_CM_20221121_10_001074_14.json
B_10_CHI_SF_20221117_10_000957_18.json
B_10_DRI_CM_20221121_10_001074_18.json
B_10_ETC_CM_20221116_10_000928_06.json
B_10_POM_CM_20221116_10_000930_01.json
B_10_ETC_CM_20221116_10_000928_15.json
B_10_DRI_CM_20221121_10_001074_20.json
B_10_POM_CM_20221116_10_000930_05.json
B_10_ETC_CM_20221116_10_000928_02.json
B_10_ETC_CM_20221116_10_000928_10.json
B_10_POM_CM_20221116_10_000930_04.json
B_10_ETC_CM_20221116_10_000928_01.json
B_10_ETC_CM_20221116_10_000928_03.json
B_10_ETC_CM_20221116_10_000928_04.json
B_10_ETC_CM_20221116_10_000928_05.json
B_10_DRI_CM_20221121_10_001074_16.json
B_10_POM_CM_20221116_10_000930_02.json
B_10_ETC_CM_20221116_10_000928_16.json
B_10_ETC_CM_20221116_10_000928_17.json
B_10_DRI_CM_20221121_10_001074_19.json
B_10_ETC_CM_20221116_10_000928_20.json
B_10_DRI_CM_20221121_10_001074_17.json
B_10_ETC_CM_20221116_10_000928_13.json
B_10_ETC_CM_20221116_10_000928_19.json
B_10_ETC_CM_20221116_10_000928_09.json
B_10_ETC_CM_20221116_10_000928_08.json
B_10_POM_CM_20221116_10_000930_07.json
B_10_ETC_CM_20221116_10_000928_07.json
B_10_POM_CM_20221116_10_000930_03.json
B_10_ETC_CM_20221116_10_000928_18.json
B_10_POM_CM_20221116_10_000930_08.json
B_10_ETC_CM_20221116_10_000928_11.json
B_10_POO_CM_20221121_10_001073_11.json
B_10_POO_CM_20221121_10_001073_10.json
B_10_POO_CM_20221121_10_001073_05.json
B_10_POM_CM_20221116_10_000930_12.json
B_10_POO_CM_20221121_10_001073_04.json
B_10_POM_CM_20221116_10_000930_20.json
B_10_POO_CM_20221121_10_001073_06.json
B_10_POO_CM_20221121_10_001075_01.json
B_10_POO_CM_20221121_10_001073_16.json
B_10_POM_CM_20221116_10_000930_10.json
B_10_POO_CM_20221121_10_001073_13.json
B_10_POM_CM_20221116_10_000930_13.json
B_10_POM_CM_20221116_10_000930_19.json
B_10_POO_CM_20221121_10_001073_17.json
B_10_POO_CM_20221121_10_001073_02.json
B_10_POO_CM_20221121_10_001073_14.json
B_10_POO_CM_20221121_10_001073_18.json
B_10_POM_CM_20221116_10_000930_11.json
B_10_POO_CM_20221121_10_001073_03.json
B_10_POO_CM_20221121_10_001073_20.json
B_10_POO_CM_20221121_10_001073_19.json
B_10_POO_CM_20221121_10_001073_15.json
B_10_POM_CM_20221116_10_000930_18.json
B_10_POO_CM_20221121_10_001073_08.json
B_10_POO_CM_20221121_10_001073_09.json
B_10_POO_CM_20221121_10_001073_12.json
B_10_POM_CM_20221116_10_000930_16.json
B_10_POO_CM_20221121_10_001073_07.json
B_10_POO_CM_20221121_10_001073_01.json
B_10_POO_CM_20221121_10_001075_13.json
B_10_POO_CM_20221121_10_001088_02.json
B_10_POO_CM_20221121_10_001075_02.json
B_10_POO_CM_20221121_10_001088_01.json
B_10_POO_CM_20221121_10_001075_19.json
B_10_POO_CM_20221121_10_001088_12.json
B_10_POO_CM_20221121_10_001075_14.json
B_10_POO_CM_20221121_10_001075_05.json
B_10_POO_CM_20221121_10_001088_03.json
B_10_POO_CM_20221121_10_001075_17.json
B_10_POO_CM_20221121_10_001075_08.json
B_10_POO_CM_20221121_10_001075_20.json
B_10_POO_CM_20221121_10_001075_18.json
B_10_POO_CM_20221121_10_001075_10.json
B_10_POO_CM_20221121_10_001075_16.json
B_10_POO_CM_20221121_10_001088_08.json
B_10_POO_CM_20221121_10_001088_11.json
B_10_POO_CM_20221121_10_001088_06.json
B_10_POO_CM_20221121_10_001088_07.json
B_10_POO_CM_20221121_10_001088_09.json
B_10_POO_CM_20221121_10_001088_05.json
B_10_POO_CM_20221121_10_001088_10.json
B_10_POO_CM_20221121_10_001075_03.json
B_10_POO_CM_20221121_10_001075_12.json
B_10_POO_CM_20221121_10_001075_09.json
B_10_POO_CM_20221121_10_001075_07.json
B_10_POO_CM_20221121_10_001075_15.json
B_10_POO_CM_20221121_10_001088_04.json
B_10_POO_CM_20221121_10_001075_11.json
B_10_POO_CM_20221121_10_001075_06.json
B_10_POO_CM_20221121_10_001088_14.json
B_10_POO_CM_20221121_10_001088_20.json
B_10_POO_CM_20221121_10_001088_15.json
B_10_POO_CM_20221121_10_001088_17.json
B_10_POO_CM_20221121_10_001088_16.json
B_10_POO_CM_20221121_10_001088_13.json
B_10_POO_CM_20221121_10_001088_18.json
B_10_POO_CM_20221121_10_001088_19.json

In [ ]:
from IPython.display import display

def preview():
  for filename in glob('*.json'):
    df = pd.read_json(filename)
    print(filename, df.shape)
    display(df.head())
    print('\n')
    
preview()

B_10_CHI_SF_20221116_10_000929_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
for filename in glob('*.json'):
  df = pd.read_json(filename)
  print(filename, df.shape)
  display(df.head())
  print('\n')

B_10_CHI_SF_20221116_10_000929_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221116_10_000929_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000929', '...         NaN
physical  {'weight': 2.5, 'shoulder-height': 19, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_CHI_SF_20221117_10_000957_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000957', '...         NaN
physical  {'weight': 1.8, 'shoulder-height': 17, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 3, 'food-count': 4, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_DRI_CM_20221121_10_001074_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001074', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 24.5, 'neck...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_ETC_CM_20221116_10_000928_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000928', '...         NaN
physical  {'weight': 11, 'shoulder-height': 30, 'neck-si...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 1, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POM_CM_20221116_10_000930_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_000930', '...         NaN
physical  {'weight': 6.86, 'shoulder-height': 31, 'neck-...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 3, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001073_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001073', '...         NaN
physical  {'weight': 3.86, 'shoulder-height': 22, 'neck-...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_02.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '02'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_01.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '01'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_08.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '08'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_05.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '05'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_10.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '10'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_03.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '03'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_12.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '12'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_09.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '09'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_07.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '07'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_04.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '04'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_11.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '11'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001075_06.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001075', '...         NaN
physical  {'weight': 8.3, 'shoulder-height': 30, 'neck-s...         NaN
image                                   {'body-part': '06'}         NaN
breeding  {'exercise': 2, 'food-count': 4, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_14.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '14'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_20.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '20'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_15.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '15'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_17.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '17'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_16.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '16'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_13.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '13'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_18.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '18'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

B_10_POO_CM_20221121_10_001088_19.json (9, 2)

                                                   metadata annotations
type                                                      B         NaN
id        {'species': '10', 'mission-id': '10_001088', '...         NaN
physical  {'weight': 8.8, 'shoulder-height': 34, 'neck-s...         NaN
image                                   {'body-part': '19'}         NaN
breeding  {'exercise': 2, 'food-count': 2, 'environment'...         NaN

In [ ]:
pd.json_normalize(df['metadata'])

,species,mission-id,provider-code,breed,age,class,sex,weight,shoulder-height,neck-size,...,food-kind,disease,CRP,lgG,IL-6,AFP,heart-rate,breating-rate,body-heat,stress
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,10_001088,0010,POO,2.0,SS,CM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.8,34.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOR,0.24,5.1,2.11,0.55,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.0,24.0,39.0,1.3
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN